<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title> Playlist Search </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Channel ID</ion-label>
    <ion-input type="text" [(ngModel)]="channelId"></ion-input>
  </ion-item>
  <ion-button
    expand="full"
    (click)="searchPlaylist()"
    [disabled]="channelId === ''"
    color="danger"
    >Search Playlists!</ion-button
  >

  <ion-list>
    <ion-item
      button
      *ngFor="let list of playlists"
      (click)="openPlaylist(list?.id)"
    >
      <ion-thumbnail>
        <img [src]="list?.snippet.thumbnails.standard.url" />
      </ion-thumbnail>
      <ion-col>
        <h4>{{list.snippet.title}}</h4>
        <p>{{list.snippet.publishedAt | date: "short"}}</p>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>
